body {
  background-color: lightpink;
}

h1 {
  color: white;
  text-align: center;
}

a {
  color: white;
}

p {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 20px;
}

.links {
  text-align: center;
}
